@charset "utf-8";
/*public 隔开上线 box*/
.publicSeptum {
	width: 100%;
	height: .2rem;
}
/*内容*/
.contentWrapP {
	width: 7.5rem;
	height: auto;
}
/*公共的class=>项Wrap*/
.pblicTermWrapP {
	position: relative;
	width: 7.5rem;
	height: 1.1rem;
}
/*公共的class=>项(伪类)'底边框线'*/
.publicButtomLIne:after {
	content: " ";
	width: 6.9rem;
	height: .02rem;
	border-bottom: .02rem solid #dcdcdc;
	position: absolute;
	bottom: 0;
	left: .3rem;
}
/*公共的class=>项box*/
.publicTermBoxP {
	position: relative;
	padding: .24rem 0 0 .3rem;
	box-sizing: border-box;
	width: 7.5rem;
	height: 1.1rem;
	font-size: .3rem;
	background-color: #fff;
}

/*左*/
.publicTermLeftP {
	float: left;
	width: 2.3rem;
	height: .67rem;
	color: #666;
	font: .3rem/.67rem "微软雅黑";
	text-indent: .03rem;
	letter-spacing: .04rem;
}
/*右*/
.publicTermRightP {
	float: left;
	width: 4.6rem;
	height: .67rem;	
}
/*input*/
.publicTRPInput {
	outline: none;
	border: none;
	width: 4.5rem;
	height: .67rem;
	font-size: .3rem;
	color: #666;
	letter-spacing: .01rem;
	background-color: #fff; 
}
/*input=>提示文本=>.publicTRPInput::-webkit-input-placeholder*/
input::-webkit-input-placeholder { /* WebKit browsers */ 
	color: #bbb; 
	font-size: .26rem;
	font-family: "微软雅黑";
} 
input:-moz-placeholder { /* Mozilla Firefox 4 to 18 */ 
	color: #bbb; 
	font-size: .26rem;
	font-family: "微软雅黑";
} 
input::-moz-placeholder { /* Mozilla Firefox 19+ */ 
	color: #bbb; 
	font-size: .26rem;
	font-family: "微软雅黑";
} 
input:-ms-input-placeholder { /* Internet Explorer 10+ */ 
	color: #bbb; 
	font-size: .26rem;
	font-family: "微软雅黑";
} 
/*'输入验证码box'和'input'*/
.shortWidthBox, .shortInputWidth {
	width: 2.3rem;
}
/* 输入框'|'获取验证码 的竖线=>伪元素 */
.shortWidthBox:after {
	content: " ";
	width: .01rem;
	height: .7rem;
	border-right: .01rem solid #d2d2d2;
	position: absolute;
	top: .2rem;
	right: 2.2rem;
}
/*'获取验证码'按钮*/
.obtainCodeBut {
	position: absolute;
	bottom: .11rem;
	right: .3rem;
	width: 1.74rem;
	height: .87rem;
	font: .26rem/.87rem "微软雅黑";
	letter-spacing: .02rem;
	color: #1e82d2;
	text-align: center;
}
/*确认 box*/
.modifyButBox {
	padding-top: 1.2rem;
	box-sizing: border-box;
	width: 7.5rem;
	height: auto;
}
/*确认 按钮*/
.modifyButton {
	margin: 0 auto;
	width: 6.9rem;
	height: .91rem;
	font: .3rem/.91rem "微软雅黑";
	color: #fff;
	text-align: center;
	border-radius: .07rem;
	letter-spacing: .02rem;
	background-color: #37afe6;
}