body{background: #f5f5f5 !important;}
.add_list{
	width: 94%;
	margin: 0 auto;
	line-height: .8rem;
	font-size: .24rem;
}
.add_list .item{
	border-bottom: .02rem solid #ccc;
}
.add_list .item:last-child{
	border: 0;
}
.add_list .item label{
	display: inline-block;
	width: 20%;
}
.add_list .item input{
	width: 75%;
	height: 1rem;
	border: 0;
	outline: none;
}
.add_list .site{
	position: relative;
}
.add_list .site img{
	position: absolute;
	right: .2rem;
	top: 0;
	bottom: 0;
	margin: auto;
	width: .14rem;
	height: .24rem;
}

.default{
	position: relative;
	box-sizing: border-box;
	width: 94%;
	margin: 0 auto;
	height: 1rem;
	line-height: 1rem;
	font-size: .24rem;
	border-top:.02rem solid #ccc;
}
.default_text{
	float: left;
}
/*开关Wrap(未开启)*/
.switchWrapOneC {
	position: relative;
	float: right;
	margin: .26rem .2rem 0 0;
	box-sizing: border-box;
	width: .7rem;
	height: .38rem;
	border: .04rem solid #e5e5e5;
	border-radius: .6rem;
	background-color: #fff; 
}
/*按钮-开关（未开启）*/
.switchBoxOneC {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	margin: auto 0;
	box-shadow: .02rem 0 .1rem #cacaca;
	width: .3rem;
	height: .3rem;
	border-radius: 50%;
	border: .01rem solid #e1e1e1;
	background-color: #fff;
}

/*开关Wrap(已开启)*/
.switchWrapTwoC {
	position: relative;
	float: right;
	margin: .26rem .2rem 0 0;
	box-sizing: border-box;
	width: .7rem;
	height: .38rem;
	border: .04rem solid #1e82d2;
	border-radius: .6rem;
	background-color: #1e82d2; 
}
/*按钮-开关（已开启）*/
.switchBoxTwoC {
	position: absolute;
	top: 0;
	bottom: 0;
	left: .4rem;
	margin: auto 0;
	width: .3rem;
	height: .3rem;
	border-radius: 50%;
	background-color: #fff;
}
.saveBtn{
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
	height: 1rem;
	line-height: 1rem;
	text-align: center;
	font-size:.3rem;
	border-top: .01rem solid #ccc;
}
