.site_list{
	padding: 0 .2rem;
}
.site_list .list_item{
	font-size: .22rem;
	line-height: .5rem;
	border-bottom: 1px solid #ccc;
}
.list_item .user_info{
	color:#000;
	font-size: .26rem;
}
.list_item .user_info span{
	margin-right: .5rem;
}
.list_item .site{
	color: #333;
}
.list_item .btn .btn_right{
	float: right;
	font-size: .26rem;
}
.list_item .btn .btn_right .edit{
	color: #333;
}
.list_item .btn .btn_right .edit a{
	display: inline-block;
	color: #333;
}
.list_item .btn .btn_right .del{
	margin:0 .2rem;
	color: #eb2121;
}
.active::before{
	content: "默认";
	display: inline-block;
	color: #999;
}
.add_site{
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
	height: 1rem;
	line-height: 1rem;
	font-size:.3rem;
	color: #fefefe;
	text-align: center;
    background-color: #37afe6;
	border-top: .01rem solid #ccc;
}
