/* 头像 */
.avatar{
	width: 100%;
	height: 1.1rem;
	padding: 0 .2rem;
	box-sizing: border-box;
	background-color: #fff;
	font-size: .28rem;
	letter-spacing: .02rem;
	margin-bottom: .2rem;
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.avatar .fr{
	width: .9rem;
	height: .9rem;
	border-radius: 50%;
	position: relative;
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	align-items: center;
}
.avatar .fr input[type="file"]{
	width: 100%;
	height:100%;
	border-radius: 50%;
	opacity: 0;
	position: absolute;
	right: 0;
	top: 0;
}
.avatar .fr img{
	width: .9rem;
	height: .9rem;
	border-radius: 50%;
}

.set-up-list {
	padding: 0 .2rem;
	box-sizing: border-box;
	background-color: #fff;
}
.set-up-list .item {
	position: relative;
	/*height: .76rem;*/
	min-height: .76rem;
	border-bottom:.01rem solid #ccc; 
	letter-spacing: .02rem;
	
}
.set-up-list .item:last-child{
	border-bottom: none;
}
.item .item_top {
	position: relative;
	width: 100%;
	height: .76rem;
	line-height: .76rem;
	font-size: .28rem;
}
.item_top .fr span{
	padding-right: .3rem;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	color:#ccc;
}
.item_top img {
	display: block;
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	margin: auto 0;
	width: .18rem;
	height: .34rem;
	/*动画*/
	transition: All 0.4s linear;
    -webkit-transition: All 0.4s linear;
    -moz-transition: All 0.4s linear;
    -o-transition: All 0.4s linear;
}
/*icon 图标 '>' 旋转(顺时针)90度*/
.icon_rotate_false {
	transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
}
/*icon 图标 '>' 旋转(逆时针)90度*/
.icon_rotate_true {
	transform: rotate(-0deg);
    -webkit-transform: rotate(-0deg);
    -moz-transform: rotate(-0deg);
    -o-transform: rotate(-0deg);
    -ms-transform: rotate(-0deg);
}

/*public*/
/*下拉框*/ 
.drop_down_box {
	display: none;
	padding-bottom: .2rem;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	width: 100%;
	height: auto;
	border-top: .02rem solid #ccc;
}
/*iunput box（修改昵称）*/
.drop_down_inp_box {
	padding-top: .3rem;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	width: 100%;
	height: auto;
}
.drop_down_inp {
	display: block;
	margin: 0 auto;
	outline: none;
	border: none;
	border: .02rem solid #ccc;
	width: 60%;
	height: .46rem;
	font-size: .26rem;
	text-indent: .08rem;
}
/*按钮*/
.drop_down_btn_box {
	padding-top: .3rem;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	width: 100%;
	height: auto;
}
.drop_down_btn {
	margin: 0 auto;
	width: 40%;
	height: .5rem;
	text-align: center;
	font-size: .28rem;
	line-height: .5rem;
	border-radius: .06rem;
	color: #fff;
	background-color: #37afe6;
}
/*男女*/
.drop_down_gender_box {
	display: table;
	margin: 0 auto;
	padding-top: .2rem;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	width: auto;
	height: auto;
}
.drop_down_gende_left, .drop_down_gende_right {
	float: left;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	width: 1.44rem;
	height: .5rem;
	text-align: center;
	line-height: .5rem;
	color: #333;
	border: .02rem solid #ccc;
}
.drop_down_gende_right {
 	margin-left: .2rem;
}
/*(性别)点击时=>style*/
.drop_down_gende_active {
	color: #37afe6;
	border-color: #37afe6;
}
/*绑定手机*/
.drop_down_bind_wrap {
	padding-top: .3rem;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	width: 100%;
	height: auto;
}
.drop_down_bind_box {
	display: table;
	margin: 0 auto;
	width: auto;
	height: .46rem;
    font-size: .26rem;
	line-height: .46rem;
}
.drop_down_bind_box_titile {
	float: left;
	width: 1.6rem;
	height: 100%;
}
.drop_down_bind_box_inp {
	float: left;
	width: 3rem;
	height: .46rem;
	outline: none;
    border: none;
    border: .02rem solid #ccc;
    text-indent: .08rem;
}
/*去除input默认样式*/
input {
	/*IOS*/
	-webkit-appearance:none; 
	background: none;
	border: none;
	outline: none;
}
/*inout的提示文字 样式修改*/
input::-webkit-input-placeholder { /* WebKit browsers */ 
	font-size: .26rem;
	letter-spacing: .02rem;
	text-indent: .08rem;
	line-height: .32rem;
} 
input:-moz-placeholder { /* Mozilla Firefox 4 to 18 */ 
	font-size: .26rem;
	letter-spacing: .02rem;
	text-indent: .08rem;
	/*line-height: .46rem;*/
} 
input::-moz-placeholder { /* Mozilla Firefox 19+ */ 
	font-size: .26rem;
	letter-spacing: .02rem;
	text-indent: .08rem;
	/*line-height: .46rem;*/
} 
input:-ms-input-placeholder { /* Internet Explorer 10+ */ 
	font-size: .26rem;
	letter-spacing: .02rem;
	text-indent: .08rem;
	/*line-height: .46rem;*/
}


