.form_title{
	
	
	width: 96%;
	margin: auto;
	box-sizing: border-box;
	margin-top: .5rem;
	border-bottom: none;
	text-align: center;
	height: 1.2rem;
	line-height: 1.2rem;
	font-size: .35rem;
	border: 1px solid black;
	border-bottom: none;
	
}
tr{
	
	font-size: .35rem;
	text-align: center;
	
}
tr td:nth-child(1){
	
	width: 70%;
	text-align: left;
	padding-left: .3rem;
	
}

