.zuidadiv{
	
	padding-bottom: .5rem;
	box-sizing: border-box;
	
}

.biaogege,.biaogege2{
	
	
	width: 88%;
	margin: 0 auto;
	border: 1px solid #CCCCCC;

}
tr{
	
	height: .7rem;
	line-height: .7rem;
	font-size: .3rem;
	text-align: center;
	
}
tr td{
	
	width: 33%;
	
	
}
.biaogege2{
	
	margin-top: 1rem;
	
	
}
.table_header{
	
	
	text-align: center;
	font-size: .4rem;
	height: 1rem;
	line-height: 1rem;
	
	
}
.swiper-slide{
	
	/*border: 1px solid red;*/
	height: 8rem!important;
	overflow: auto;
	
	
}


