#container .cont-wrap .data {
	width: 100%;
	font-size: 0;
	background: #fff;
}
img {
	margin: 0 auto;
	display: block;
	max-width: 100%;
}
#container .cont-wrap .data .img {
	padding: 4% 2% 4% 3%;
	width: .55rem;
	font-size: 0;
}
#container .cont-wrap .data div {
	display: inline-block;
	vertical-align: top;
}
#container .cont-wrap .data .wenzi {
	padding: 2%;
	width: 82%;
	height: .82rem;
	font-size: .34rem;
	line-height: .82rem;
	background: #fff;
	border-bottom: .01rem solid #d9d9d9;
}
#container .cont-wrap .data .wenzi span:nth-child(2) {
	margin: 5% 0 0;
	display: inline-block;
	width: .15rem;
	height: .25rem;
	background: url(../../img/home/back-b@2x.png) no-repeat;
	background-size: 100% 100%;
	float: right;
}
/*基因关系样式*/
#wrapper .inner .ckg {
	width: 100%;
	height: 5.65rem;
}
#wrapper .inner .smallicon {
	padding: 0 0 0 .2rem;
	margin: .64rem 0 0;
	width: .64rem;
	color: #151515;
}
#wrapper .inner .text {
	padding: 0 .25rem;
}
#wrapper .inner .text h2 {
	font-size: .34rem;
	font-weight: 750;
	line-height: .95rem;
	letter-spacing: 1px;
}
#wrapper .inner .text p {
	margin-bottom: .28rem;
	font-size: .24rem;
	line-height: 22px;
}
