
.headWrap{
	
	position:relative;
	width: 100%;
	height: .9rem;
	line-height: .9rem;
	/*border: 1px solid green;*/
	text-align: center;
	color: black;
	font-weight: bolder;
	font-size: .4rem;
	border-bottom: 1px solid gray;
	

}
.lb_headWrap_return_img{
	
	position: absolute;
	left: .3rem;
	top: 0;
	bottom: 0;
	width: .4rem;
	height: .4rem;
	margin: auto 0;

}
.lb_header_righticon{
	
	position: absolute;
	right: .3rem;
	top: 0;
	bottom: 0;
	width: .8rem;
	height: .8rem;
	margin: auto 0;	
	
}
.liebiao_ear{
	
	width: 90%;
	margin: auto;
	border: 2px solid #30ADE5;
	margin-top: .5rem;
	
}
.liebiao_ear ul{
	
	width: 90%;
	margin: auto;
	/*border: 1px solid green;*/
	font-size: .4rem;

}
.liebiao_ear ul li{
	
	height: 1rem;
	line-height: 1rem;
	border-bottom: 2px solid #30ADE5;
	position: relative;
	
}
.liebiao_ear ul li:last-child{
	
	border-bottom: none;
	
}
.span_right{
	
	float: right;
	
}
.span_right img{
	
	width: .28rem;
	position: absolute;
	top: 0;
	bottom: 0;
	right: .1rem;
	margin: auto 0;
	
	
	
	
}






