.container  .ckg {
	width: 100%;
	font-size: 0;
}
img {
	margin: 0 auto;
	display: block;
	max-width: 100%;
}
.container  .smallicon {
	padding: 0 0 0 .2rem;
	margin: .4rem 0 0;
	width: .45rem;
	color: #151515;
	font-size: 0;
}
.container  .text {
	padding: 0 .25rem;
}
.container  .text h2 {
	font-size: .34rem;
	font-weight: 750;
	line-height: .95rem;
	letter-spacing: 1px;
}
.container  .text p {
	margin-bottom: .6rem;
	font-size: .24rem;
	line-height: .4rem;
}
.container  .text .title {
	margin: .5rem 0 0;
}
